/*
HTML css
*/
html,
body,
div.container-fluid  {
	height: 100%;
	color: #000 !important;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	overflow: visible !important;
	font-family: 'Roboto Slab', serif;
	display: inline !important;
	margin-left: 10px;
}

button {
    display: none !important;
  }

img {
	display: none !important;
}

h1{
	text-align:center;
}

h2{
    font-weight: 700;
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 10px;
}

label {
	font-size: 15px;
	font-weight: bold;
}

a {
	color: #000;
	text-decoration: none;
}

input {
	pointer-events:none
}

select {
	border: none;
	display: inline-block;
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	border: 0;
	overflow: show;
    text-overflow: string; 
    pointer-events:none;
    background-color:white;
}

textarea {
	display: none !important;
}

.form-menu {
	clear: both;
}
.form-renderer {
	clear: both;
}

.form-group {
	margin-bottom: 15px;
	clear: both;
}

.form-group * {
	display: block;
	clear: both;
}

.form-question-check {
	margin-left: 10px;
}

.form-question-numeric > div{
	margin:10px;
}

.form-question-numeric > div > label{
	margin-right: 10px;
	font-size: 15px;

}

.form-question-numeric > div > input{
	margin-right: 10px;
}

.form-block {
	border: 1px;
	border-style: solid;
	padding: 5px;
	margin: 15px;
}

/*Result display*/
.form-result {
	margin-right: 10px;
	font-size: 20px;
	font-weight: 500;
	font-family: 'Roboto Slab', serif;
}