/*
HTML css
*/
html,
body,
div.container-fluid  {
	height: 100%;
	color: #333 !important;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	overflow: visible !important;
	font-family: 'Roboto Slab', serif!important;
	font-weight: 500!important;
	display: inline !important;
	margin-left: 10px;
	font-size: 15px;
}

pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

button {
    display: none !important;
  }

img {
	
}

h1{
	text-align:center;
}

h2{
    font-weight: 700;
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 10px;
}

label {
}

a {
	color: #333;
	text-decoration: none;
	pointer-events: none;
    cursor: default;
}

input {
	pointer-events:none
}

select {
	border: none;
	display: inline-block;
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	border: 0;
	overflow: show;
    text-overflow: string; 
    pointer-events:none;
    background-color:white;
}

.no-print {
	display: none !important;
}

textarea {
	display: none !important;
}

.form-menu {
	clear: both;
}
.form-renderer {
	clear: both;
}

.form-group {
	margin-bottom: 15px;
	clear: both;
}

.form-group * {
	display: block;
	clear: both;
}

.form-question-check {
	margin-left: 10px;
}

.form-question-numeric > div{
	margin:10px;
}

.form-question-numeric > div > label{
	margin-right: 10px;

}

.form-question-numeric > div > input{
	margin-right: 10px;
}

.form-block {
	border: 1px;
	border-style: solid;
	padding: 5px;
	margin: 15px;
}

/*Result display*/
.form-result {
	margin-right: 10px;
	font-size: 20px;
	font-weight: 500;
	font-family: 'Roboto Slab', serif;
}

#print-logo {
	width: 100%;
	background-color: #CCC;
}

#print-logo img {
	margin-left: auto;
	margin-right: auto;
	display: block;
}