h1{
	text-align:center;
}
label{
	color:green;
}


.btn.btn-default {
	color: #1A1313;
}



div.main-panel{
	display: table;
	height:90%;
	width:100%;
}
div.left-panel{
	width:30%;
	padding-left: 40px;
	padding-right: 10px;
	float: none;
	display: table-cell;
	vertical-align: top;
}
div.right-panel{
	width:70%;
	padding-left: 10px;
	padding-right: 40px;
	float: none;
	display: table-cell;
	vertical-align: top;
	overflow: hidden;
	position: relative;
}


.ui-autocomplete{
	position: relative;
	z-index: 2000;
 	max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 20px;
}


svg.svg-css {
	min-height: 700px;
	max-width:100%;
	position: relative;
}




/* SVG css */
g.type-TK > rect {
	fill: #00ffd0;
}

text {
	font-weight: 300;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
}

.node rect{
	fill: #999;
	stroke: #57723E;
	stroke-width: 1.5px;
}

.node circle{
	fill: #999;
	stroke: #57723E;
	stroke-width: 1.5px;
}

.clusters rect {
	fill: #fff;
	stroke: #57723E;
	stroke-width: 1.5px;
}


.edgePath path {
	stroke: #333;
	stroke-width: 1.5px;
}