h1{
	text-align:center;
}

h2{
    font-weight: 700;
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 10px;
}

h2, label {
	color:#46723E;
	font-family: 'Roboto Slab', serif;
}

a {
	color:#46723E;
}

div.form-menu {
	height:10%;
	width:100%;
}
div.form-renderer {
	height:90%;
	width:100%;
}

.form-group {
	width : 60%;
}

.form-block > .form-group {
	width : 100%;
}
/*Generic question display*/
.form-question-check {
	margin-left: 10px;
}

.form-question-input > label{
	margin-right: 10px;
	font-size: 15px;
}


#sources {
	float : right;
	width : 39%;
	border: 1px;
    border-style: solid;
    border-color: #34A301;
    padding: 5px;
}
 
#work-data-selected-save {
	clear: both;
}

.form-sources-input > label{
	margin-right: 10px;
	font-size: 15px;
}

.form-sources-input > checkbox{
	margin-right: 10px;
	font-size: 15px;
}

.form-question-input > input{
	margin-left: 10px;
}

.form-question-input > select {
	margin-left: 10px;
}

.form-question-numeric > div > label{
	margin-right: 10px;
	font-size: 15px;
}

.form-question-numeric > div > input{
	margin-left: 10px;
}

/*Block questions display*/
.form-block {
	border: 1px;
	border-style: solid;
	border-color: #34A301;
	padding: 5px;
	margin: 15px;
}

.form-block-header > label {	
	font-size: 15px;
}

.form-block > div {
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 5px;
}

.form-block > div > label {
	margin-right: 10px;
	color: #46723E;
	max-width: 60%;	
	font-size: 12px;
}

.form-block > div > div > label {
	margin-right: 10px;
	color: #46723E;
	max-width: 60%;	
	font-size: 12px;
}

.form-block > div > input {
	float: right;
	max-width: 40%;	
	font-size: 12px;
}

.form-block > div > div > input {
	float: right;
	max-width: 40%;	
	font-size: 12px;
}

.form-block > div > select {
	float: right;
}

.form-block > div > input[type=checkbox] {
	float: left;
	margin: 0%;
}


/*Result display*/
.form-result {
	min-width:85%;
	max-width:85%;
	margin-right: 10px;
	font-size: 20px;
	font-weight: 500;
	color:#46723E;
	font-family: 'Roboto Slab', serif;
}