h1{
	text-align:center;
	font-size: 28px;
}

h2{
    margin-top: 20px;
    margin-bottom: 10px;
    color:#46723E;
    font-size: 24px;
}

h3 {
	font-size: 18px;
	margin-top: 10px;
    margin-bottom: 5px;
}

label {
	color:#333;
	font-weight: 400;
}

a {
	color:#46723E;
}

button {
	margin-right: 5px;
}

div.form-menu {
	height:10%;
	width:100%;
}
div.form-renderer {
	height:90%;
	width:100%;
}

.form-group {
	width : 60%;
}

.form-block > .form-group {
	width : 100%;
}
/*Generic question display*/
.print-text-area-helper {
	height: 0px !important;
	display: none;
}

.form-question-input > label{
	margin-right: 10px;
	font-size: 15px;
}


#sources, #information {
	float : right;
	clear: right;
	width : 39%;
	border: 0px;
    padding: 5px;
    margin-bottom: 5px;
}
 
#work-data-selected-save {
	clear: both;
	height: 25px;
}

.form-sources-input > label{
	margin-right: 10px;
	font-size: 15px;
	max-width: 90%;
}

.form-sources-input > checkbox{
	margin-right: 10px;
	font-size: 15px;
}

.form-question-numeric > div > label{
	margin-right: 10px;
	font-size: 15px;
}

/*Block questions display*/
.form-block {
	border: 1px;
	border-style: solid;
	border-color: #E8E8E8;
	padding: 5px;
	margin-bottom: 5px;
}

.form-block-header > label {	
	font-size: 15px;
}

.form-block > div {
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 5px;
}

.form-block > div > label {
	margin-right: 10px;
	font-size: 12px;
	margin-right: 10px;
    width: 100%;
}

.form-block > div > div > label {
	max-width: 100%;
    display: inline;	
}

.form-block > div > input {
	float: right;
	max-width: 40%;	
	font-size: 12px;
}

.form-block > div > div > input {
	float: right;
	max-width: 40%;	
	font-size: 12px;
}

.form-block > div > select {

}

.form-block > div > input[type=checkbox] {
	float: left;
	margin: 0%;
}


/*Result display*/
.form-result {
	min-width:85%;
	max-width:85%;
	margin-right: 10px;
	font-size: 18px;
	font-weight: 400;
}

.form-source-check {
	font-size:14px;
	font-weight: 400;
	height:20px;
	line-height:20px;
	margin-bottom:5px;
	margin-right:0px;
	margin-left:5px;
	max-width:100%;
	text-size-adjust:100%;
}

.form-source-check label {
	max-width: 90%;
}

.form-source-check > label{
	font-size:14px;
	font-weight: 400;
	height:20px;
	line-height:20px;
	margin-bottom:5px;
	margin-right:0px;
	max-width:100%;
	text-size-adjust:100%;
}

.question-label label {
	margin-right: 10px;
}

textarea {
  resize: vertical; /* user can resize vertically, but width is fixed */
}